.signin {
    @include text-content(0.875rem);
    display: flex;
    align-items: center;
    
    height: 2.8125rem;
    line-height: 2.8125rem;

    margin-right: 2.3125rem;

    .signin-icon {
        height: 1.875rem;
        width: 1.875rem;
        margin-right: 0.75rem;
    }
}