.app {
    width: 100%;
    height: 100vh;
    background: url(./assets/img/bg-app.png) no-repeat center center;
    background-size: cover;
    
    .container {
        width: 1109px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
  
        .content {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .main-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: space-between;
                flex-shrink: 1;

                width: 100%;

                padding-left: 1.875rem;

                .main {
                    height: 525px;
                }
            }
        }
    }
  
  }