.app {
    width: 100%;
    height: 100vh;
    background: url(./assets/img/bg-app.png) no-repeat center center;
    background-size: cover;
    
    .container {
        width: 1109px;
        margin: 0 auto;
  
        .content {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .main-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 100%;
            }
        }
    }
  
  }