.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;

    margin-top: 2.6875rem;

    @include respond-below(sm) {
        flex-direction: column;
        margin: 0;
    }

    .time-and-lang {
        display: flex;
        justify-content: space-between;

        @include respond-below(sm) {
            margin: 12px 15px 0 15px;
        };
    }

    .signin-and-signup {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        height: 2.8125rem;

        @include respond-below(sm) {
            margin-top: 15px;
            justify-content: center;
        };
    }
}