.exchange {
    display: flex;
    height: 100%;
    .exchange-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        .exchange-item {
            width: 416px;
            height: 100%;
            align-self: stretch;
    
            padding: 0 25px;
    
            background-color: rgba(0,30,61, 0.5);
    
            border-radius: 10px;
    
            .exchange-item-title {
                @include text-headers;
                text-align: center;
    
                margin: 33px 0;
            }
    
            .exchange-input-wrap {
                width: 100%;
                position: relative;
    
                margin: 11px auto;
                
                .exchange-input {
                    display: block;
                    width: 100%;
        
                    @include text-content(2.25rem);
                    line-height: 70px;
    
                    padding: 0 87px 0 20px;
        
                    border: 1px solid #666df9;
                    border-radius: 10px;
                    outline: none;
        
                    background-color: transparent;
                }
        
                .exchange-label {
                    position: absolute;
                    right: 0;
                    top: 50%;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 87px;
                    height: 32px;
    
                    border-left: 1px solid #5b69af;
    
                    transform: translateY(-50%);
        
                    @include text-content(1rem);
                }
            }
    
            .exchange-item-content {
                display: flex;
                flex-direction: column;
    
                margin: 15px 0 0 2px;
    
                span {
                    @include text-content(0.75rem, capitalize);
                    line-height: 1.125rem;
                    color: #666df9;
                }
            }
            
            .exchange-btn {
                @include button-main(100%, 3.75rem, #3152ad);
    
                margin-top: 35px;
    
                transition: background-color 0.3s ease-in-out;
    
                &:hover {
                    background-color: lighten($color: #3152ad, $amount: 5%);
                }
            }
            
        }

        .earn-wallet-input {
            width: 100%;
            padding: 16px 0;

            @include text-content(1.125rem, capitalize);

            outline: none;
            border: none;
            border-bottom: 1px solid #666df9;
            background-color: transparent;
        }

        .exchange-submit-btn {
            @include button-main(100%, 3.75rem, #3ed49a);

            margin-top: 53px;

            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: lighten(#3ed49a, 10%);
            }
        }

    }
}